
@{
    ViewBag.Title = "Bienvenidos";
}


<h2>Bienvenidos</h2>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
<link href="~/Public/Estilos/Fondo.jpg" rel="stylesheet" type="text/css" />
<br />

@Html.ActionLink("New", "Registro", "Formulario", null, new { @class = "btn btn-primary" })

